.header{
  background-color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.left_section{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title{
  font-size: 50px;
}

.middle_section{
  display: flex;
  align-items: center;
}

.input{
  width: 400px;
  height: 30px;

  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
}

.right_section{
  width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
